/* .check {
  width: 100%;
} */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aaa {
  margin-right: 2rem;
  text-align: center;
}

.aaa:hover {
  background-color: rgb(44, 31, 31);
  border-radius: 2rem;
  transform: scale(1.4);
}
.hero {
  border: 5px solid black;
  height: 53vh;
  margin-top: 1rem;
  width: 100%;
}
.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.btn {
  /* width: 50%; */
  height: 10vh;
  margin: 0.2rem;
}
.App {
}
