* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: black;
  background: url(img/logo.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
}
img {
  border-radius: 50px;
}
.toggle:hover {
  background-color: rgba(32, 36, 50, 0.379);
  color: white;
}
